body {
  font: normal 62.5% "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1;
  color: #444;
}

p {
  font-size: 1.4em;
}

a:link, a:visited {
  color: #9cc;
  font-weight: bold;
  text-decoration: none;
}

/* I know it's inconsistent, but I want to catch all of the edge cases */

a:hover, a:active { color: #fff; background-color: #9cc; }

div.message {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  text-align: center;
  font-size: 12px;
}

.info {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #efefef;
  color: #222;
}

.info.message, em, .ampersand {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}

.info {
  text-align: right;
}

.message
{
  margin: 0 auto;
  padding: 20px;
  width: 30%;
}

#call_to_action {
  padding: 20px;
  border: 1px solid #b4b4b4;
}

/* Being sneaky and making a "problem" that would be resolved by a cleaner stylesheet!  Also, makes sure that we've got three identical instances of the same class throughout the stylesheet for duplicates purposes. */
.info {
  text-align: left;
}

.arbitrary_class {
  background: transparent;
}

.not_in_class {
  background: transparent;
}