#new_id {
  font: normal 62.5% "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1;
  color: #444;
}

.new_class {
  font-size: 1.4em;
}

#call_to_action {
  background-color: #eee;
}

ul li:first-child {
  color: #9cc;
  font-weight: bold;
}

.info {
  min-height: 20px;
}

.not_in_file {
  color: #f00;
}

.arbitrary_class {
  color: #fff;
}